/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'flowbite'; */

@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
body {
  background-color: rgb(15 23 42 / var(--tw-bg-opacity));
--tw-bg-opacity: 1;
} */
body {
  background-color: #070D1B;
--tw-bg-opacity: 1;
}

/* 
.focus\:ring-cyan-300:focus {
  --tw-ring-opacity: 0 !important;
} */


.keen-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.keen-slider__slide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100; /* Ensures each slide can shrink to fit content */
}
