@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'flowbite';

html {
  scroll-behavior: smooth;
}


body {
  background-color: #070D1B;
--tw-bg-opacity: 1;
}


.focus\:ring-cyan-300:focus {
  --tw-ring-opacity: 0 !important;
}


.keen-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.keen-slider__slide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100;

}


/* Container styling */
.image-wrapper {
  position: relative;
  width: 350px; /* Adjust according to your layout */
  height: 400px; /* Adjust according to your layout */
  overflow: hidden;
  border-radius: 4px;
  margin: 0 auto;
}

/* Image scroll animation */
.image-wrapper img {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0; /* Start at the top of the image */
  transition: top 11s; /* Smooth scrolling effect */
}

.image-wrapper:hover img {
  top: -860px; /* Adjust based on image height to reach the bottom */
  transition: all 11s;
}


/* Blur effect for the image on hover */
.image-wrapper.blur-sm {
  filter: blur(5px); /* Adjust blur intensity */
  transition: filter 0.3s ease-in-out;
}

/* Overlay styling */
.swiper-slide .absolute {
  transition: opacity 0.3s ease-in-out;
}
